<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <gazebo reference="main_base">
        <material>Gazebo/Blue</material>
    </gazebo>
    <gazebo reference="right_wheel_link">
        <material>Gazebo/Grey</material>
    </gazebo>
    <gazebo reference="left_wheel_link">
        <material>Gazebo/Grey</material>
    </gazebo>
    <gazebo reference="arm_base">
        <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="fore_arm">
        <material>Gazebo/Yellow</material>
    </gazebo>
    <gazebo reference="hand">
        <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="caster_wheel_link">
        <material>Gazebo/Grey</material>
        <mu1 value="0.1" />
        <mu2 value="0.1" />
    </gazebo>
</robot>